@import "../../styles/common.scss";

.space {
  display: inline-flex;
  position: relative;

  &.block {
    display: flex;
    width: 100%;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.compact {
    .item {
      margin: 0 !important;
    }
  }

  // 对齐方式
  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.align-baseline {
    align-items: baseline;
  }

  &.align-stretch {
    align-items: stretch;
  }

  // 主轴对齐
  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-space-around {
    justify-content: space-around;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-space-evenly {
    justify-content: space-evenly;
  }

  .item {
    display: flex;
    transition: margin 0.2s;
  }

  .split {
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
  }
}

// 响应式
@media screen and (max-width: 768px) {
  .space {
    &.responsive {
      flex-direction: column;

      .item {
        margin-right: 0 !important;
        margin-bottom: 8px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
