.badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    color: $foreground-color;
    background-color: $secondary-gradient-start;
    border-radius: 0.25rem;
}