.panel {
  .sections {
    display: flex;
    gap: 16px;
  }

  .section {
    flex: 1;
    border-radius: var(--border-radius);
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--hover-color);
    }

    &.active {
      background-color: var(--selected-color);
    }
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: var(--scroll-track-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb-color);
      border-radius: 3px;
    }
  }

  .number {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--hover-color);
    }

    &.selected {
      background-color: var(--primary-color);
      color: var(--primary-contrast-text);
    }
  }

  .meridiems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .meridiem {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--hover-color);
    }

    &.selected {
      background-color: var(--primary-color);
      color: var(--primary-contrast-text);
    }
  }
}
