body {
  margin: 0;
  font-family: system-ui;
}
main {
  padding: 24px;
  max-width: 950px;
}
section {
  margin-bottom: 32px;
}
#theme-card {
  display: flex;
  gap: 32px;
  align-items: center;
}
#time {
  position: relative;
  z-index: 20;
}
#pages {
  max-width: 600px;
}
#virtual {
  max-width: 420px;
}
.edge {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
#workflow {
  min-height: 400px;
}
h2 {
  font-size: 18px;
}
