.section {
  margin: 20px 0;

  .group {
    display: flex;
    flex-direction: column;
    gap: 32px;

    > div {
      padding: 16px;
      background: rgba(0, 0, 0, 0.02);
      border-radius: 8px;

      .textField + .textField {
        margin-top: 16px;
      }
    }
  }

  h4 {
    margin-bottom: 16px;
    color: #333;
    font-weight: 500;
  }

  p {
    margin-top: 12px;
    font-size: 0.875rem;
    color: #6c757d;
  }
}
